Repository Bioinformatics-Research-Network/Bioinformed-Skill-App: changes, and which Codecov flags are due for each by the changed paths.
All: crud, webui, ghbot

Add hello world slackbot
  slackbot/README.md
  slackbot/bot.py
Due: none

del /crud/test/.gitignore for *.db - not needed
  crud/app/api/api_endpoints.py
  crud/tests/.gitignore
Due: crud

add_reviewer endpoint; not tested
  crud/app/api/api_endpoints.py
  crud/app/api/schemas.py
  crud/app/crud/crud.py
  crud/app/db/models.py
  crud/app/db/test_data.py
Due: crud

Updated the README
  README.md
Due: none

Updated the README
  webui/README.md
Due: webui

Add Slack reviewer request utils with info
  crud/app/slack_utils/README.md
  crud/app/slack_utils/block_msg.png
  crud/app/slack_utils/review_request.json
  crud/app/slack_utils/review_request_update.json
Due: crud

Update Slack utils README.md
  crud/app/slack_utils/README.md
Due: crud

response schemas mini update
  crud/app/api/api_endpoints.py
  crud/app/api/schemas.py
Due: crud

schemas error fix
  crud/app/api/api_endpoints.py
Due: crud

gitignore for .vscode
  .gitignore
Due: none

fixed some pytests
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
Due: crud

response schema(done); slack integration(working)
  crud/app/api/api_endpoints.py
  crud/app/api/schemas.py
  crud/app/slack_utils/slack_utils.py
  crud/tests/test_api_endpoints.py
Due: crud

pytests fixing
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/utils/badgr_utils.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_badgr_utils.py
  crud/tests/test_crud.py
Due: crud

slack integration( working)
  crud/app/api/api_endpoints.py
  crud/app/slack_utils/__init__.py
  crud/app/slack_utils/slack_utils.py
Due: crud

fixing secret leak (sry)
  crud/app/slack_utils/slack_utils.py
Due: crud

edit utils
  crud/app/slack_utils/slack_utils.py
Due: crud

slackbot integration, db edit for slack_id
  crud/app/api/api_endpoints.py
  crud/app/db/models.py
  crud/app/dependencies.py
  crud/app/slack_utils/slack_utils.py
  webui/app/models/models.py
Due: crud, webui

testing smee ( TODO )
  crud/app/api/api_endpoints.py
  crud/app/slack_utils/slack_utils.py
Due: crud

smee webhook body decode
  crud/app/api/api_endpoints.py
  crud/app/slack_utils/slack_utils.py
Due: crud

slack_crud_endpoints(not yet completed)
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/slack_utils/review_request.json
  crud/app/slack_utils/slack_utils.py
Due: crud

oops
  crud/app/api/api_endpoints.py
Due: crud

slack crud integration( kinda works now)
  crud/app/api/api_endpoints.py
  crud/app/slack_utils/slack_utils.py
Due: crud

slack crud integ and doc, black format
  crud/app/api/api_endpoints.py
  crud/app/api/schemas.py
  crud/app/crud/crud.py
  crud/app/db/models.py
  crud/app/slack_utils/__init__.py
  crud/app/slack_utils/slack_utils.py
  crud/app/utils/badgr_utils.py
  crud/tests/conftest.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
  crud/tests/test_utils.py
Due: crud

README update, trying ghbot...
  crud/README.md
  crud/app/slack_utils/README.md
  ghbot/bot/bot.py
Due: crud, ghbot

TODO: workflow of gitbot-crud-slack integration
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  ghbot/bot/bot.py
Due: crud, ghbot

Prevent prebuild terminal with AWS from closing unless it succeeds
  .gitpod.yml
Due: none

edit padding of let's go box
  webui/app/templates/profile.html
Due: webui

add progress bar
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/db/models.py
  crud/app/db/test_data.py
  crud/app/utils/badgr_utils.py
  crud/tests/conftest.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
  crud/tests/test_utils.py
  ghbot/bot/auth.py
  ghbot/bot/bot.py
  ghbot/bot/dependencies.py
  ghbot/bot/utils.py
  ghbot/main.py
  ghbot/tests/test_bot.py
  slackbot/bot.py
  sync/handler.py
  sync/models.py
  sync/utils/badgr.py
  sync/utils/gh_templates.py
  webui/app/__init__.py
  webui/app/crud/crud.py
  webui/app/models/models.py
  webui/app/routes.py
  webui/app/templates/assessment.html
  webui/app/utils/badgr_utils.py
  webui/app/utils/data_sync.py
  webui/app/utils/email_utils.py
  webui/tests/test_routes.py
Due: crud, webui, ghbot

Fixed pytest errors for the CRUD app.
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/utils/badgr_utils.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
Due: crud

Fixed bot error related to permissions on file download / upload folder
  ghbot/bot/utils.py
Due: ghbot

Reverted assertion to producing an error
  crud/tests/test_api_endpoints.py
Due: crud

Passing locally
  ghbot/tests/test_bot.py
Due: ghbot

slackbot readme mini update
  slackbot/README.md
Due: none

ghbot integ.; TODO slack_utils-confirm_reviewer
  crud/.gitignore
  crud/app/slack_utils/slack_utils.py
  ghbot/bot/bot.py
  ghbot/main.py
Due: crud, ghbot

TODO: ghbot 7410 500 Internal Server err
  crud/.gitignore
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/slack_utils/slack_utils.py
  ghbot/main.py
Due: crud, ghbot

mini name change
  crud/app/crud/crud.py
  ghbot/main.py
Due: crud, ghbot

Path conditions:
  crud: any of: crud/
  webui: any of: webui/
  ghbot: any of: ghbot/
