Repository Bioinformatics-Research-Network/Bioinformed-Skill-App: changes, and which Codecov flags are due for each by the changed paths.
All: crud, webui, ghbot

reviewer assignment works kinda
  crud/app/crud/crud.py
  ghbot/.gitignore
  ghbot/bot/bot.py
  ghbot/main.py
Due: crud, ghbot

mini update: bug fixing
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/slack_utils/slack_utils.py
  ghbot/bot/bot.py
Due: crud, ghbot

bug hunt
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/slack_utils/slack_utils.py
Due: crud

bug fix payload. TODO: remove hardcoded for test
  crud/app/crud/crud.py
  ghbot/bot/bot.py
  ghbot/main.py
Due: crud, ghbot

bot approve and mini fixes
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/dependencies.py
  crud/app/utils/badgr_utils.py
  ghbot/bot/bot.py
Due: crud, ghbot

bot approve, badgr badge works TODO: Tests and doc
  crud/app/api/api_endpoints.py
  crud/app/dependencies.py
  ghbot/bot/dependencies.py
Due: crud, ghbot

Fixed lambda sync errors
  sync/utils/badgr.py
  sync/utils/gh_templates.py
Due: none

automating webhook for crud
  crud/.gitignore
  crud/Dockerfile
Due: crud

env var fixed
  crud/Dockerfile
  crud/smee_run.sh
  docker-compose.yml
  ghbot/Dockerfile
Due: crud, ghbot

not needed
  crud/app/slack_utils/block_msg.png
Due: crud

env fix 1
  ghbot/.gitignore
  ghbot/Dockerfile
  ghbot/run.sh
Due: ghbot

yml edit
  docker-compose.yml
Due: none

gh bot clearing debug prints
  ghbot/bot/auth.py
  ghbot/bot/bot.py
  ghbot/bot/utils.py
  ghbot/main.py
Due: ghbot

mini testing update
  crud/.gitignore
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/slack_utils/slack_utils.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_badgr_utils.py
  crud/tests/test_slack_utils.py
Due: crud

Update CODEOWNERS
  CODEOWNERS
Due: none

Path conditions:
  crud: any of: crud/
  webui: any of: webui/
  ghbot: any of: ghbot/
