Repository Bioinformatics-Research-Network/Bioinformed-Skill-App: changes, and which Codecov flags are due for each by the changed paths.
All: crud, webui, ghbot

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
        if_not_found: success
        informational: false
        only_pulls: false
    patch:
      crud:
        target: 95%
        threshold: 0%
        if_ci_failed: error
        informational: false
        only_pulls: false
      webui:
        target: 50%
        threshold: 0%
        if_ci_failed: error
        informational: false
        only_pulls: false
      ghbot:
        target: 75%
        threshold: 0%
        if_ci_failed: error
        informational: false
        only_pulls: false
comment:
  layout: "diff, flags, files"

flags:
  crud:
    carryforward: false
    paths:
      - crud/
  webui:
    carryforward: false
    paths:
      - webui/
  ghbot:
    carryforward: false
    paths:
      - "ghbot/"

github_checks:
  annotations: true

codecov
  crud/README.md
  ghbot/README.md
  webui/README.md
Due: crud, webui, ghbot

Correct status badges
  crud/README.md
  ghbot/README.md
  webui/README.md
Due: crud, webui, ghbot

Code formatting for black style
  crud/README.md
  crud/app/api/api_endpoints.py
  crud/app/api/schemas.py
  crud/app/crud/crud.py
  crud/app/db/models.py
  crud/app/db/test_data.py
  crud/app/dependencies.py
  crud/app/utils/badgr_utils.py
  crud/tests/conftest.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
  crud/tests/test_main.py
  crud/tests/test_utils.py
  ghbot/bot/auth.py
  ghbot/bot/bot.py
  ghbot/bot/const.py
  ghbot/bot/utils.py
  ghbot/tests/test_bot.py
  sync/config.py
  sync/handler.py
  sync/models.py
  sync/utils/airtable.py
  sync/utils/badgr.py
  sync/utils/gh_templates.py
  webui/app/__init__.py
  webui/app/config.py
  webui/app/crud/crud.py
  webui/app/models/models.py
  webui/app/routes.py
  webui/app/utils/badgr_utils.py
  webui/app/utils/data_sync.py
  webui/app/utils/email_utils.py
  webui/tests/utils/test_data_sync.py
  webui/wsgi.py
Due: crud, webui, ghbot

Prepping crud tests
  .gitpod.yml
  crud/tests/test_api_endpoints.py
Due: crud

Add aws path to bashrc
  .gitpod.yml
Due: none

Setting up AWS path
  .gitpod.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Setting up AWS
  .gitpod.yml
  CODEOWNERS
Due: none

AWS
  .gitpod.yml
Due: none

Testing for CRUD works locally now. Updated to not rebuild database -- instead using copy of production db.
  .gitpod.yml
  crud/.codecov.yml
  crud/app/dependencies.py
  crud/tests/conftest.py
Due: crud

We do not need integration tests since all tests currently use docker compose approach
  .github/workflows/test.integration.yml
Due: none

Working on CRUD tests. Updated README to describe how to rebuild db in docker compose.
  README.md
  crud/app/crud/crud.py
  crud/app/dependencies.py
  crud/tests/test_crud.py
  docker-compose.yml
Due: crud

CRUD app crud tests now passing locally
  crud/app/crud/crud.py
  crud/app/db/test_data.py
  crud/app/utils/badgr_utils.py
  crud/tests/conftest.py
  crud/tests/test_crud.py
Due: crud

CRUD utils passing tests
  crud/tests/test_crud.py
  crud/tests/test_utils.py
Due: crud

all crud app tests now passing
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  crud/app/dependencies.py
  crud/tests/test_api_endpoints.py
  crud/tests/test_crud.py
  ghbot/bot/const.py
Due: crud, ghbot

Fixing issue with CRUD tests not passing in GHA
  README.md
  crud/tests/test_api_endpoints.py
Due: crud

Fixing crud tests
  crud/tests/test_api_endpoints.py
Due: crud

Fixing webui tests
  webui/tests/conftest.py
  webui/tests/test_routes.py
  webui/tests/utils/test_data_sync.py
Due: webui

Fixed ghbot tests
  ghbot/tests/test.sql
  ghbot/tests/test_bot.py
Due: ghbot

Add paths to workflows
  .github/workflows/test.crud.yml
  .github/workflows/test.ghbot.yml
  .github/workflows/test.webui.yml
Due: none

Working on README
  README.md
Due: none

Updated dev guide
  README.md
Due: none

Added emphasis to README
  README.md
Due: none

Update README for readability
  README.md
  webui/wsgi.py
Due: webui

Add additional badges to README
  README.md
Due: none

Indent to get nested list
  README.md
Due: none

Update README.md
  README.md
Due: none

Minor updates to README
  README.md
Due: none

Added TOC
  README.md
Due: none

Move unified dev notes from CRUD into main README.md
  README.md
  crud/README.md
Due: crud

Additional instructions for setting up environments
  README.md
  crud/README.md
Due: crud

Continuing to separate dev and prod env files.
  .github/workflows/deploy.crud.yml
  .github/workflows/deploy.ghbot.yml
  .github/workflows/deploy.webui.yml
  .github/workflows/test.crud.yml
  .github/workflows/test.ghbot.yml
  .github/workflows/test.webui.yml
  .gitpod.yml
  README.md
Due: none

Fixed issue #22.
  crud/app/api/api_endpoints.py
  crud/app/crud/crud.py
  docker-compose.yml
  ghbot/README.md
  ghbot/bot/__init__.py
  ghbot/bot/auth.py
  ghbot/bot/bot.py
  ghbot/bot/dependencies.py
  ghbot/bot/models.py
  ghbot/bot/schemas.py
  ghbot/bot/utils.py
  ghbot/main.py
  ghbot/requirements.txt
  ghbot/tests/test_bot.py
Due: crud, ghbot

Trying to pass gha tests
  .github/workflows/test.crud.yml
  .github/workflows/test.ghbot.yml
  .github/workflows/test.webui.yml
  docker-compose.yml
  ghbot/tests/test_bot.py
Due: ghbot

Debug reviewer assignment
  ghbot/bot/utils.py
Due: ghbot

bug fixes
  ghbot/bot/bot.py
Due: ghbot

Fixed issue with reviewer assignment locally
  ghbot/bot/bot.py
  ghbot/bot/utils.py
Due: ghbot

Updated README for ghbot
  ghbot/README.md
Due: ghbot

Updated trust policy to allow all branches and PRs to assume GHA roles.
  crud/README.md
  ghbot/README.md
  webui/README.md
Due: crud, webui, ghbot

Undid prev change -- inaccurate
  crud/README.md
  ghbot/README.md
  webui/README.md
Due: crud, webui, ghbot
